{% extends "layout.html"%}

{% from "button/macro.njk" import button %}
{% from "summary-list/macro.njk" import summaryList %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Check your answers before sending your application</h1>

      <h2 class="nhsuk-heading-m">
        Personal details
      </h2>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Your symptoms"
            },
            value: {
              text: <data value="" class="whatareyoursymptoms"></data>
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "NHS number"

          
                }
              ]
            }
          },
          {
            key: {
              text: "Details of your symptoms"
            },
            value: {
              html: "8 Bridgewater Place<br>Leeds<br>LS11 5BZ"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "home address"
                }
              ]
            }
          }
        ]
      }) }}


      <h2 class="nhsuk-heading-m">
        Now send your application
      </h2>

      <p>
        Your details will be sent to Prince Charming to dispatch your test kit.
      </p>

      <form action="/form-handler" method="post" novalidate>
        {{ button({
          text: "Confirm and send"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
