{% extends "layout.html"%}

{% from "panel/macro.njk" import panel %}
{% from "summary-list/macro.njk" import summaryList %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ panel({
        titleText: "Screening Completed",
        text: "You have been successfully screened for a fairy virus home test kit. You can expect your kit to arrive in 3-50 days."
      }) }}



      <p>
        <a href="#">Tell us about your experience using this service</a>
      </p>

    </div>
  </div>
{% endblock %}
