{% extends "layout.html"%}

{% from "breadcrumb/macro.njk" import breadcrumb %}
{% from "button/macro.njk" import button %}
{% from "inset-text/macro.njk" import insetText %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set dummyNhsNumber = "999 123 4567" %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "#",
        text: "Home"
      },
      {
        href: "#",
        text: "NHS services"
      },
      {
        href: "#",
        text: "Online services"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">You are not eligible</h1>
      <p>Use this service to check your fairy levels at home with a test kit.</p>
      <p>The kit will be sent by dragon mail. The kit takes 3-50 days to arrive, dependent on princess emergencies. </p>
      <p>You do not need to know your NHS number to use this service. However having it will ensure that your test result is shared with your local handsome prince.</p>

      {% set insetTextHtml %}
        <p>You can get your NHS number in your <a href="#">NHS account</a>.</p>
      {% endset %}

      {{ insetText({
        html: insetTextHtml | safe
      }) }}

      {% from "do-dont-list/macro.njk" import list %}

      {{ button({
        text: "Go back",
        href: "/symptoms"
      }) }}

      {% from "do-dont-list/macro.njk" import list %}



    </div>
  </div>
{% endblock %}
