{% extends "layout.html"%}

{% from "breadcrumb/macro.njk" import breadcrumb %}
{% from "button/macro.njk" import button %}
{% from "inset-text/macro.njk" import insetText %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set dummyNhsNumber = "999 123 4567" %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "#",
        text: "Home"
      },
      {
        href: "#",
        text: "NHS services"
      },
      {
        href: "#",
        text: "Online services"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">You are not a fairy</h1>

      {% from "warning-callout/macro.njk" import warningCallout %}

{{ warningCallout({
  heading: "Stop the spread",
  text: "Fairy virus is highly contagious. If you see a fairy, please report to Captain Hook before night falls."
}) }}


      {{ button({
        text: "Go back",
        href: "/symptoms"
      }) }}

      {% from "do-dont-list/macro.njk" import list %}



    </div>
  </div>
{% endblock %}
