{% extends "layout.html"%}

{% from "breadcrumb/macro.njk" import breadcrumb %}
{% from "button/macro.njk" import button %}
{% from "inset-text/macro.njk" import insetText %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set dummyNhsNumber = "999 123 4567" %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "#",
        text: "Home"
      },
      {
        href: "#",
        text: "NHS services"
      },
      {
        href: "#",
        text: "Online services"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">Get a test for fairy virus</h1>
      <p>Use this service to test your fairy levels at home.</p>
      <p>The test kit will take 3-50 days to arrive by dragon mail, dependent on princess emergencies. </p>
      <p>You do not need to know your NHS number to use this service. However having it will ensure that your test result is shared with your local fairy specialist team.</p>

      {% set insetTextHtml %}
        <p>You can get your NHS number in your <a href="#">NHS account</a>.</p>
      {% endset %}

      {{ insetText({
        html: insetTextHtml | safe
      }) }}

      {% from "do-dont-list/macro.njk" import list %}

{{ list({
  heading: "Do",
  icon: "tick",
  items: [
    {
      text: "wear gloves when waving your hands"
    },
    {
      text: "keep wand-shaped objects out of reach"
    },
    {
      text: "stick to drab, dark clothing"
    }
  ]
}) }}

{{ list({
  heading: "Don't",
  icon: "cross",
  items: [
    {
      text: "sprinkle fairy dust on small children"
    },
    {
      text: "make friends with giants"
    },
    {
      text: "fly close to airport flight paths"
    }
  ]
}) }}


      <h2 class="nhsuk-heading-l">Before you start</h2>
      <p>You will need your:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>full name</li>
        <li>date of birth</li>
        <li>postcode of the address you've registered at a GP surgery with</li>
      </ul>

      <p>You will have your NHS number sent to you by text, email or letter.</p>
      <p>If you're using this service for someone else, enter their details. They will be sent their NHS number.</p>

      <p>By using this service you agree to our <a href="#">terms of use</a> and confirm that you have read the <a href="#">privacy policy</a>.</p>

      {{ button({
        text: "Start now",
        href: "/symptoms"
      }) }}

      {% from "do-dont-list/macro.njk" import list %}



    </div>
  </div>
{% endblock %}
